@import "./normalize.css";

$primary-color: green;

h1 {
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
  }
}

.header-container span{
  padding-left: 50px;
}

.header-container{
  background-color:  #ccc;
}

.cell{
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #000000;
  background-color: #ccc;
  cursor: pointer;
}

.exploded{
  background-image: url("/images/mine.png");
  background-size: 31px 31px;
  background-repeat: no-repeat;
  background-color: palevioletred !important;
  z-index: 99999;
}

.mine{
 background-color: #3CB371;
}

.number{
  background-size: 31px 31px;
  background-repeat: no-repeat;
}

.number_1{
  background-image: url("/images/numbers/number-1.jpg");
}

.number_2{
  background-image: url("/images/numbers/number-2.jpg");

}.number_3{
  background-image: url("/images/numbers/number-3.png");
}

 .clearCell{
   background-color: #ffffff !important;
 }
